
<!--table class="center" style="width:100%">

<tr>
      <td colspan="5">Contact Us</td>
</tr>
<tr>
<td>Phone:</td><td>+27(0)78 167 2830</td>
</tr>
<tr>
<td>Email:</td><td>info@soduhlux.co.za</td>
</tr>
<tr>
<td>Address:</td><td>Silver Lakes,</td><td>Pretoria,</td><td>2094</td>
</tr>-->
<!--
<h3>Contact Us</h3>
<ul style="list-style-type:none;" id="u01">
<li>Phone: +27(0)78 167 2830</li>
<li>Email: info@soduhlux.co.za</li>
<li>Address: Silver Lakes, Pretoria,	2094</li>

<h3>Quik Links</h3>
<ul style="list-style-type:none;" align="center" id="u01">
<li><a [routerLink]="['/return']" class="button fancy-button">Returns</a></li>
<li><a [routerLink]="['/ship']" class="button fancy-button">Shipping</a></li>
<li><a [routerLink]="['/ppolicy']" class="button fancy-button">Privacy Policy</a></li>
<li><a [routerLink]="['/tandc']" class="button fancy-button">Terms and Conditions</a></li>
</ul>


<h3>Follow Us</h3>
<ul style="list-style-type:none;" align="center" id="u01">

<!--<td><a [routerLink]="['/about']">About us</a></td>-->

<!--<td><label for="Search">Search</label></td><td><input id="Search" type="text" formControlName="Search" height="32" width="32"></td>

<li><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a>

 <a href="https://www.facebook.com/EswatiniPropertyReview/"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a>

 <a href="https://www.youtube.com/channel/UCa2IAo3HbSkD5G25ZQ01csQ/videos?disable_polymer=1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="32" width="32"></a>

<a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a>
</li>
</ul>

<h3>Cards Accepted</h3>
<ul style="list-style-type:none;" id="u01">
<li><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-eyfwjf/master/src/assets/Visa%20MasterCard.jpg" height="168" width="300"></a></li>
</ul>

<ul style="list-style-type:none;" align="center" id="u01">
<li>
  <a [routerLink]="['/tandc']" class="button fancy-button"><i class="material-icons">copyright</i>2020 SuDuh Lux South Africa</a></li>
</ul>-->

<table class="center" style="width:100%" id="t03">

<tr>
<td>Phone: +27(0)78 167 2830|
Email: info@soduhlux.co.za|
Address: Blesbok, Grobersdal,	2094</td>
</tr>

<tr>
<td><a [routerLink]="['/return']" class="button fancy-button">Returns</a>
<a [routerLink]="['/ship']" class="button fancy-button">Shipping</a>
<a [routerLink]="['/ppolicy']" class="button fancy-button">Privacy Policy</a>
<a [routerLink]="['/tandc']" class="button fancy-button">Terms and Conditions</a></td>
</tr>
<!--
<tr>
<td><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a>
<a href="https://www.facebook.com/EswatiniPropertyReview/"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a>
<a href="https://www.youtube.com/channel/UCa2IAo3HbSkD5G25ZQ01csQ/videos?disable_polymer=1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="32" width="32"></a><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a></td>
</tr>-->

<tr>
<td><!--<label>Cards Accepted</label><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-eyfwjf/master/src/assets/Visa%20MasterCard.jpg" height="68" width="30"></a>-->
<img src= "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-eyfwjf/master/src/assets/soduh.png" height="40" width="160">
</td>
</tr>
<tr>
<td>  
<a [routerLink]="['/tandc']" class="button fancy-button">SuDuh Lux South Africa<i class="material-icons">copyright</i>Copyright 2020 </a></td>
</tr>

</table>