<div class="container">
<table class="center" style="width:100%" id="t01" >
  <tr>
    <th colspan="5"><h1 align="center">Bottoms!!!</h1></th></tr>
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
    
  </tr>
 
    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
    
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
   
 </tr>

 
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
    
  </tr>
 
    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
   
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    
    </tr>
  
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
   
  </tr>

    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
   
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    
     </tr>

    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="320" width="300"></td>
   
  </tr>
    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
 
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    


</table>
</div>