<!--<div *ngFor="let product of products; index as productId">
  <h3><a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}</a>
  </h3>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
</div>-->

<!--  <div class="container">
              <a [routerLink]="['/housef']">
          <img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-syd1sn/master/src/assets/pic1.jpg" height="400" width="100%"></a>
    <div class="top-left">
   <!--<a class="button fancy-button"><i class="material-icons">menu</i></a>
        <ul class="topnav" id="u01">
          <li class="dropdown">
          <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
      <div class="dropdown-content">
            <a [routerLink]="['/new']"><h2>New</h2></a>
            <a [routerLink]="['/dresses']"><h2>Dresses</h2></a>
            <a [routerLink]="['/ccameos']"><h2>Collection Cameos</h2></a>
            <a [routerLink]="['/tops']"><h2>Tops</h2></a>
            <a [routerLink]="['/bottoms']"><h2>Bottoms</h2></a>
                  </div>
            </li>
          </ul>
      
    </div>
  

  <div class="top-right"><a class="button fancy-button"><i class="material-icons">search</i></a>
<a class="button fancy-button"><i class="material-icons">shopping_cart</i></a></div>
  
  <div class="centered"><a [routerLink]="['/news']"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-eyfwjf/master/src/assets/soduh.png" height="40" width="60"></a></div>

<div class="content">
<a [routerLink]="['/housef']">
  UNDERSTANDING HOUSE FLIPPING WITH REMAX ESWATINI’S LYLE HUTTON</a>
  </div>
</div>
-->
<!--<td>
<a [routerLink]="['/free']" class="button fancy-button">Free Downloads</a></td>
<td>
<a [routerLink]="['/free']" class="button fancy-button">About us</a></td>
-->





<div class="container">
<table class="center" style="width:100%" id="t01" >
  <tr>
    <th colspan="5"><h1 align="center">Name Of Collection!!!</h1></th></tr>
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb1.jpg" height="120" width="175"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="120" width="175"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb2.jpg" height="120" width="175"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" height="120" width="175"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb4.jpg" height="120" width="175"></td>
  </tr>
</table>
</div>






<!--
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide" width="100%" height="1000">
      <!--<div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide" width="100%" height="1000">
      <!--<div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide" width="100%" height="1000">
      <!--<div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  


<tr>
<td><p *ngIf="product.description">{{ product.description }}</p></td>
</tr>
-->

<table class="center" style="width:100%" id="t02" >
<!--  <tr>
<td><h3 align="center"><a [routerLink]="['/comm']">Commercial News!!!</a></h3></td>
<td><h3 align="center"><a [routerLink]="['/resi']">Residential News!!!!</a></h3></td>
</tr>-->

<tr>
<td><a [routerLink]="['/commd']"><img src="https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb4.jpg" width="284" height="440"  ></a></td>
<td><video width="320" height="440" controls>
  <source src="https://github.com/phiwesriva/angular-xv4yjj-cas1wh/blob/master/src/assets/vid1.mp4?raw=true" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video></td>
<td ><a [routerLink]="['/resid']"><img src="https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/tb3.jpg" width="284" height="440" ></a></td>
</tr>
</table>
<!--</div>-->




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->