<div class="container">
<table class="center" style="width:100%" id="t01" >
  <tr>
    <th colspan="5"><h1 align="center">Dresses!!!</h1></th></tr>
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
  </tr>
 
    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
    <td>long sleeve top</td>
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    <td>R350</td>
 </tr>

 
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
  </tr>
 
    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
    <td>long sleeve top</td>
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    <td>R350</td>
    </tr>
  
    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
  </tr>

    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
    <td>long sleeve top</td>
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    <td>R350</td>
     </tr>

    <tr>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
    <td><img src = "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-cas1wh/master/src/assets/dress.jpg" height="320" width="300"></td>
  </tr>
    <tr>
    <td>Crop Top</td>
    <td>Sleveless top</td>
    <td>long sleeve top</td>
  </tr>
 
    <tr>
    <td>R300</td>
    <td>R400</td>
    <td>R350</td>


</table>
</div>